.synth{
    width:1000px;
    height:665px;
    background-color:#181b1c;
    margin-left:50px;
    margin-top:50px;
    padding: 25px;
    border-radius:20px;
    box-shadow: 0px 20px 20px black;
  }
  
  #waveformi{
    width: 100%;
    background: rgba(0,0,0,0.8);
    border: 2px solid black;
  }
  
  #waveform-timeline{
    position:absolute;
    width:1000px;
    height:17px;
  }
  
  .label{
    font-size:12px;
    font-family:Arial;
    background:#40484d;
    color:#c0c0c0;
    font-weight: bold;
    width: 150px;
    padding:2.5px 10px;
    border-radius:20px;
    background:linear-gradient(to bottom, #40484d 20%, #41474a 100%);
    border:1px solid #566963;
  }
  
  
  .choose{
  top:225px;
  position:absolute;
  margin-left:-3px;
  }
  
  [type="file"] {
    height: 0;
    overflow: hidden;
    width:0;
  }
  
  [type="file"] + label {
    border: none;
    color: #c0c0c0;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.55rem 6px;
    
  }
  
  .myButton {
    box-shadow:inset 0px 1px 3px 0px #91a7b8;
    background:linear-gradient(to bottom, #2a2e2d 5%, #788080 100%);
    background-color:#2a2e2d;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    margin-top: 1px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2c4366;
    &:hover {
    background:linear-gradient(to bottom, #788080 5%, #2a2e2d 100%);
    background-color:#788080;
  }
   &:active {
    position:absolute;
    top:1px;
   }
  }
  
  .myButton2{
    width:100px;
    cursor:pointer;
  }
  
  
  #start{
    top:225px;
    position:absolute;
    left:260px;
  }
  
  .blue_buttons{
    top:225px;
    position:absolute;
    left: 365px;
  }
  
  .zoom {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.3px 0;
  }
  .zoom:focus {
    outline: none;
  }
  .zoom::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #170c07, 0px 0px 1px #2b160d;
    background: rgba(45, 57, 69, 0.78);
    border: 1px solid #181b1c;
  }
  .zoom::-webkit-slider-thumb {
    box-shadow: 1.5px 1.5px 1.6px #506f86, 0px 0px 1.5px #5a7c96;
    border: 2.4px solid 2;
    height: 22px;
    width: 28px;
    border-radius: 15px;
    background: rgba(1, 125, 159, 1);
    background:linear-gradient(to bottom, #599bb3 5%, #35727b 100%);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  .zoom:focus::-webkit-slider-runnable-track {
    background: rgba(45, 57, 69, 0.78);
  }
  .zoom::-moz-range-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #170c07, 0px 0px 1px #2b160d;
    background: rgba(208, 185, 168, 0.78);
    border-radius: 14.5px;
    border: 0.2px solid #331b1c;
  }
  .zoom::-moz-range-thumb {
    box-shadow: 1.5px 1.5px 1.6px #506f86, 0px 0px 1.5px 
      #5a7c96;
    border: 2.4px solid #2686a8;
    height: 22px;
    width: 28px;
    border-radius: 15px;
    background: rgba(97, 168, 185, 0.98);
    cursor: pointer;
  }
  .zoom::-ms-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .zoom::-ms-fill-lower {
    background: rgba(169, 126, 95, 0.78);
    border: 0.2px solid #331b1c;
    border-radius: 29px;
    box-shadow: 1px 1px 1px #170c07, 0px 0px 1px #2b160d;
  }
  .zoom::-ms-fill-upper {
    background: rgba(208, 185, 168, 0.78);
    border: 0.2px solid #331b1c;
    border-radius: 29px;
    box-shadow: 1px 1px 1px #170c07, 0px 0px 1px #2b160d;
  }
  .zoom::-ms-thumb {
    box-shadow: 1.5px 1.5px 1.6px #2596ae, 0px 0px 1.5px #29a8c3;
    border: 2.4px solid #2686a8;
    height: 22px;
    width: 28px;
    border-radius: 15px;
    background: rgba(97, 168, 185, 0.98);
    cursor: pointer;
    height: 11.4px;
  }
  .zoom:focus::-ms-fill-lower {
    background: rgba(208, 185, 168, 0.78);
  }
  .zoom:focus::-ms-fill-upper {
    background: rgba(247, 244, 241, 0.78);
  }
  
  
  #fader{
    position:absolute;
    width: 295px;
    margin-left:705px;
    margin-top:17px;
    
  }
  
  #z{
    position:absolute;
    margin-top:20px;
    margin-left:632px;
  }
  #s{
    position:absolute;
    margin-top:62px;
    margin-left:600px;
  }
  
  
  .w_button {
    box-shadow: 0px 5px 14px -7px #276873;
    background:linear-gradient(to bottom,#2f596a 5%, #3d7a8f 100%);
    background-color:#2f596a;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#c0c0c0;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:10px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    border:1px solid #566963;
  }
  .w_button:hover {
    background:linear-gradient(to bottom, #509ca8 5%, #599bb3 100%);
    background-color:#2f596a;
  }
  
  
  
  #fader_dw{
    position:absolute;
    padding-top:4px;
    width:170px;
    transform:rotate(-90deg);
    margin-top:200px;
    margin-left:125px;
  }
  
  #dry{
    position:absolute;
    margin-top:301px;
    width:25px;
    margin-left:189px;
  }
  
  #wet{
    position:absolute;
    margin-top:103px;
    width:26px;
    margin-left:189px;
  }
  
  
  .general_slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 6.65px 0;
  }
  .general_slider:focus {
    outline: none;
  }
  .general_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    box-shadow: 2px 2px 1.2px #5c8295, 0px 0px 2px #688fa2;
    background: #2f596a;
    border: 0px solid #010101;
  }
  .general_slider::-webkit-slider-thumb {
    box-shadow: 1.2px 1.2px 0.8px #9e3d2e, 0px 0px 1.2px #b24534;
    border: 0.6px solid #bd4212;
    height: 21px;
    width: 7px;
    border-radius: 2px;
    background: #ff642b;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.65px;
  }
  .general_slider:focus::-webkit-slider-runnable-track {
    background: #37687c;
  }
  .general_slider::-moz-range-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    box-shadow: 2px 2px 1.2px #5c8295, 0px 0px 2px #688fa2;
    background: #3b677f;
    border-radius: 13.2px;
    border: 0px solid #010101;
  }
  .general_slider::-moz-range-thumb {
    box-shadow: 1.2px 1.2px 0.8px #9e3d2e, 0px 0px 1.2px #b24534;
    border: 0.6px solid #bd4212;
    height: 21px;
    width: 7px;
    border-radius: 2px;
    background: #e96314;
    cursor: pointer;
  }
  .general_slider::-ms-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .general_slider::-ms-fill-lower {
    background: #274a58;
    border: 0px solid #010101;
    border-radius: 26.4px;
    box-shadow: 2px 2px 1.2px #5c8295, 0px 0px 2px #688fa2;
  }
  .general_slider::-ms-fill-upper {
    background: #2f596a;
    border: 0px solid #010101;
    border-radius: 26.4px;
    box-shadow: 2px 2px 1.2px #5c8295, 0px 0px 2px #688fa2;
  }
  .general_slider::-ms-thumb {
    box-shadow: 1.2px 1.2px 0.8px #9e3d2e, 0px 0px 1.2px #b24534;
    border: 0.6px solid #bd4212;
    height: 21px;
    width: 7px;
    border-radius: 2px;
    background: #e96314;
    cursor: pointer;
    height: 7.7px;
  }
  .general_slider:focus::-ms-fill-lower {
    background: #2f596a;
  }
  .general_slider:focus::-ms-fill-upper {
    background: #37687c;
  }
  
  
  #controls{
    position:absolute;
  }
  
  #convolution{
    position:absolute;
    margin-top:150px;
    margin-left:18px;
    width:80px;
    height: 30px;
  }
  
  
  .dropdown-dark {
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 100px;
    margin-top:110px;
    margin-left:300px;
    border: 1px solid;
    border-radius: 3px;
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-dark:before, .dropdown-dark:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
  }
  
  .dropdown-dark:before {
    border-bottom-style: solid;
    border-top: none;
    border-bottom-color: #aaa;
  }
  
  .dropdown-dark:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
    border-top-color: #aaa;
  }
  
  .dropdown-select {
    position: absolute;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 14px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #444; 
    background: rgba(0, 0, 0, 0) !important; 
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }
  
  .dropdown-dark .dropdown-select {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444;
  }
  
  .dropdown-dark .dropdown-select:focus {
    z-index: 3;
    width: 100%;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #ccc;
  }
  
  .dropdown-dark .dropdown-select > option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    margin: 3px;
    padding: 6px 8px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .dropForConv {
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 100px;
    margin-top:110px;
    margin-left:17px;
    border: 1px solid;
    border-radius: 3px;
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .dropForConv:before, .dropForConv:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
  }
  
  .dropForConv:before {
    border-bottom-style: solid;
    border-top: none;
    border-bottom-color: #aaa;
  }
  
  .dropForConv:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
    border-top-color: #aaa;
  }
  
  .dropForConv .dropdown-select {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444;
  }
  
  .dropForConv .dropdown-select:focus {
    z-index: 3;
    width: 100%;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #ccc;
  }
  
  .dropForConv .dropdown-select > option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    margin: 3px;
    padding: 6px 8px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
  #cut{
    position:absolute;
    margin-left:430px;
    margin-top:98px;
  }
  
  #filter_rolldown{
    position:absolute;
    margin-left:490px;
    margin-top:105px;
  }
  
  #label_filt{
    margin-top:-6px;
    margin-left:19px;
    font: 12px arial;
    color:grey;
  }
  #label_rld1{
    position:absolute;
    margin-left:2px;
    margin-top: -7px;
    font: 10px arial;
    color:grey;
  }
  #label_rld2{ 
    position:absolute;
    margin-left:2px;
    margin-top: -9px;
    font: 10px arial;
    color:grey;
  }
  
  #gain{
    position:absolute;
    margin-left:430px;
    margin-top:160px;
  }
  #Q{
    position:absolute;
    margin-left:430px;
    margin-top:222px;
  }
  
  .adsr{
    margin-left:35px;
  }
            
  .canvas{
    margin-top:100px;
    margin-left:650px;
  }
  
  #myCanvas{
    height: 200px;
    width: 300px;
    margin: 0 auto;
    display: block;
    background-color: grey;
    border-radius: 15%;
    border: 1px solid black ;
    padding: 5px;
    
  }
  
  
  #adsr_faders{
    transform:rotate(-90deg);
    position:absolute;
    display:block;
    margin-top: -150px;
    margin-left:500px;
    width:170px;
  }
  
  .letters{
    position:absolute;
    margin-top:-20px;
    margin-left:540px;
    width:200px;
  }
  
  .index{
    margin-left:7px;
    font: bold 15px arial;
    color:#3b677f;
    }
  
  .modes{
    position:absolute;
    margin-top:30px;
    margin-left:20px;
  }
  #monitor{
    margin-top: 10px;
    text-align:center;
    border: 1px solid #3b31d6;
    font-size:14px;
    font-family:Arial;
    font-weight: bold;
    padding:5.5px 10.5px;
    border-radius:20px;
    color:#181b1c;
    background:grey;
  }
  #label_mode{
    margin-top:6px;
    margin-left:25px;
  }
  
  #chords{
    position:absolute;
    margin-top:20px;
    margin-left:200px;
  }
  
  #label_chord{
    margin-top:-12px;
    margin-left:22px;
    font: 12px arial;
    color:grey;
  }
  
  #cadence{
    position:absolute;
    margin-top:32px;
    margin-left:325px;
    width:190px;
  }
  
  #padbuilder{
   position:absolute;
    margin-left:-22px;
    margin-top:0px;
     
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #3b31d6;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .keyb{
    position:absolute;
    margin-top:100px;
    margin-left:400px;
  }
  
  #master{
    position:absolute;
    margin-top:190px;
    width:1000px;
  } 